.dynamic-collapse-btn.collapsed {
    .show-when-open {
        display: none!important;
    }
    .show-when-closed {
        display: initial;
    }
}
.dynamic-collapse-btn:not(.collapsed) {
    .show-when-open {
        display: initial;
    }
    .show-when-closed {
        display: none!important;
    }
}