.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    .slide {
        position: relative;
        display: none;
        float: left; 
        width: 100%;
        margin-right: -100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: -webkit-transform .6s ease-in-out;
        transition: transform .6s ease-in-out;
        transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;
        &.active {
            display: block;
        }
    }
}