.wol-slideshow .carousel-indicators li {
    border: 1px solid #005274 !important;
    height: 10px;
    background-clip: border-box;
    &.active {
        background-color: #005274;
    }
}

.wol-slideshow.wol-slideshow--under-caption .carousel-caption {
    position: relative;
    right: 0;
    left: 0;
    top: 0;
    border: 1px solid #005274;
    border-left: 0;
    border-right: 0;
    padding-top: 0.5rem;
    padding-bottom: 3rem;
}