a .hover-animation {
  transition-duration: 0.5s;
  transition-property: transform;
  transform: translateX(-5px);
}
a:hover .hover-animation, a:focus .hover-animation {
  transform: translateX(5px);
}