.search-nav *.active {
  position: relative;
}
.search-nav *.active:after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  bottom: 0;
  left: 50%;
  background: inherit;
  transform: translate(-50%, 50%) rotate(45deg);
}

button.wol-search-submit {
  position: relative;
  border-left: transparent;
}
button.wol-search-submit:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid white;
  z-index: 1;
}