.menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 1050;
}

.menu--visible {
  pointer-events: auto;
}

.app-menu {
  background-color: #fff;
  position: absolute;
  max-width: 400px;
  width: 90%;
  height: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  transform: translateX(-110%);
  display: flex;
  flex-direction: column;
  will-change: transform;
  z-index: 160;
  pointer-events: auto;
}
.app-menu.app-menu--right {
  right: 0;
  transform: translateX(110%);
}

.menu--visible .app-menu {
  transform: none;
}

.menu--animatable .app-menu {
  transition: all 0.3s;
}

.menu--visible.menu--animatable .app-menu {
  transition: all 0.3s;
}

.menu:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  will-change: opacity;
  pointer-events: none;
  transition: opacity 0.3s;
}

.menu--visible.menu:after {
  opacity: 1;
  pointer-events: auto;
}

.menu-content {
  position: relative;
  overflow: hidden;
}

.menu-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(110%);
}
.menu-panel.show {
  transform: translateX(0);
}
.menu-panel.hide {
  transform: translateX(-110%);
}

@keyframes fromRight {
  from {
    transform: translateX(110%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes fromLeft {
  from {
    transform: translateX(-110%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes toLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-110%);
  }
}
@keyframes toRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(110%);
  }
}